@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  background-image: linear-gradient(#f4f1ef, #eae8e1);
}

.about {
  background-image: linear-gradient(to left, #f4f1ef, #eae8e1);
}

.btn {
  background-image: linear-gradient(black, #32325d);
}

.tab {
  background-image: linear-gradient(90deg, black 50%, #32325d);
}

.heading {
  background-image: linear-gradient(black, #32325d);
  background-clip: text;
  color: transparent;
}

.hor-grad {
  background-image: linear-gradient(90deg, black 50%, #32325d);
  background-clip: text;
  color: transparent;
}

.separator {
  background-image: radial-gradient(black, #f4f1ef);
}

.info-card {
  background: url("../../public/images/rect.png");
  width: 520px;
  height: 450px;
  background-repeat: no-repeat;
}

scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
